html, body {
	height: 100%;
    font-size: 1.0 rem;   /* this option adjusts the general font size */
    background: #fff !important;
	color: rgb(5, 42, 97);
	line-height: 1.4;
}

.ttsidebar {
    -ms-flex: 0 0 210px;
    flex: 0 0 210px;
} 

@media only screen and (max-width: 1143px) {
	.ttsidebar {
		display: none !important;
	}
}

.ttbottombar {
    width: 50% !important;
}

@media only screen and (min-width: 1143px) {
	.ttbottombar {
		display: none !important;
	}
}


@media only screen and (max-width: 1967px) {
	.ttmobile {
		max-width: 600px !important;
	}
}

.navbar {
    background-image: -webkit-linear-gradient(top, #072F5F, #3895D3);
    background-image: linear-gradient(to bottom, #072F5F, #3895D3);
    background-repeat: repeat-x;
}

.card {
	background-color: transparent; /* Needed to make the padding-bottom work */
	border: 0px; /* Needed to make the padding-bottom work */
	padding-bottom: 10px;  /* adjust this value to change the vertical spacing for left and right column, and also center column */
}

.frame-header {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #072F5F, #3895D3) !important;
    background-image: linear-gradient(to bottom, #072F5F, #3895D3) !important;
    background-repeat: repeat-x;
    border-bottom: 0px;
    padding-top: 0;
    height: 25px;
}

.frame-body {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    background: linear-gradient(90deg, rgb(198 228 236) 0%, #a7cdf5 100%) !important;
    border-image-source: linear-gradient(to bottom, #3895D3, #8cc6ec) !important;
}

.block-header {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #072F5F, #3895D3) !important;
    background-image: linear-gradient(to bottom, #072F5F, #3895D3) !important;
    background-repeat: repeat-x;
    border-bottom: 0px;
    padding-top: 0;
    height: 25px;
}

.block-body {
	padding: 0.05rem;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    background: linear-gradient(90deg, rgb(198 228 236) 0%, #a7cdf5 100%) !important;
    border-image-source: linear-gradient(to bottom, #3895D3, #8cc6ec) !important;
}

.ttbtn {
	color: #fff !IMPORTANT;
	background-image: -webkit-linear-gradient(top, #072F5F, #3895D3) !IMPORTANT;
	background-image: linear-gradient(to bottom, #072F5F, #3895D3) !IMPORTANT;
}

.ttbtn:hover {
	color: #ff9933 !IMPORTANT;
}

.ttborder {
	border: 2px solid #3895D3 !important;
    background: linear-gradient(90deg, rgb(198 228 236) 0%, #a7cdf5 100%) !important;
    padding-bottom: 2px;
}

.ttblend {
	color: #fff;
    background-image: -webkit-linear-gradient(top, #3895D3, #072F5F) !IMPORTANT;
    background-image: linear-gradient(to bottom, #3895D3, #072F5F) !IMPORTANT;
	background-repeat: repeat-x;
}
  
.ttalert {
	color: #fff;
    background-image: -webkit-linear-gradient(top, #81b3dd, #3895D3) !IMPORTANT;
    background-image: linear-gradient(to bottom, #81b3dd, #3895D3) !IMPORTANT;
	background-repeat: repeat-x;
}

  #country-list{list-style:none;width:190px;}
  #country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
  #country-list li:hover{background:#ece3d2;cursor: pointer;}
  #search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}

/* Styles ShoutBox */
.shoutbox_contain {
	border: 0;
	height: 250px;
	width: 100%;
	overflow: auto;
}

.shoutbox_msgbox {
	width: 100%;
	font-size: 16px;
	background-color: #FFF;
	border: 1px solid #777;
}

/* -- Bootstrap Table --*/
.table thead th {
    color: #fff;
    background-color: #072F5F;
    background-image: -webkit-linear-gradient(top, #072F5F, #3895D3);
    background-image: linear-gradient(to bottom, #072F5F, #3895D3);
    background-repeat: repeat-x;
	height: 25px !important;
    padding: .15rem;
}

a {
    color: rgb(5, 33, 59);
}

.navbar-nav .nav-link {
    color: #fff;
}

.list-group-item {
    background: linear-gradient(90deg, rgb(198 228 236) 0%, #a7cdf5 100%) !important;
    border-image-source: linear-gradient(to bottom, #3895D3, #8cc6ec) !important;
}