html, body {
	height: 100%;
    font-size: 1.0 rem;   /* this option adjusts the general font size */
    background: #242424;
	color: #fff;
	line-height: 1.4;
}

.ttsidebar {
    -ms-flex: 0 0 210px;
    flex: 0 0 210px;
} 

@media only screen and (max-width: 1143px) {
	.ttsidebar {
		display: none !important;
	}
}

.ttbottombar {
    width: 50% !important;
}

@media only screen and (min-width: 1143px) {
	.ttbottombar {
		display: none !important;
	}
}


@media only screen and (max-width: 1567px) {
	.ttmobile {
		max-width: 600px !important;
	}
}

.navbar {
	background-image: -webkit-linear-gradient(top, #a9111f, #ffc107);
	background-image: linear-gradient(to bottom, #a9111f, #ffc107);
    background-repeat: repeat-x;
}

.card {
	background-color: transparent; /* Needed to make the padding-bottom work */
	border: 0px; /* Needed to make the padding-bottom work */
	padding-bottom: 10px;  /* adjust this value to change the vertical spacing for left and right column, and also center column */
}

.frame-header {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #a9111f, #ff9900);
    background-image: linear-gradient(to bottom, #a9111f, #ff9900);
    background-repeat: repeat-x;
    border-bottom: 0px;
    height: 35px;
}

.frame-body {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
	background: linear-gradient(90deg, #202e3c 0%, #2e3235 100%) !important;
	border-image-source: linear-gradient(to bottom, #ff9900, #ffc107) !important;
}

.block-header {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #a9111f, #ff9900);
    background-image: linear-gradient(to bottom, #a9111f, #ff9900);
    background-repeat: repeat-x;
    border-bottom: 0px;
    height: 35px;
}

.block-body {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
	background: linear-gradient(90deg, #202e3c 0%, #2e3235 100%) !important;
	border-image-source: linear-gradient(to bottom, #ff9900, #ffc107) !important;
}

.ttbtn {
	color: #fff !IMPORTANT;
	background-image: -webkit-linear-gradient(top, #a9111f, #ffff00) !IMPORTANT;
	background-image: linear-gradient(to bottom, #a9111f, #ffff00) !IMPORTANT;
}

.ttbtn:hover {
	color: #ff9933 !IMPORTANT;
}

.ttborder {
	border: 3px solid #ff9900 !IMPORTANT;
}

.ttblend {
	color: #fff;
	background-image: -webkit-linear-gradient(top, #ff9900, #a9111f) !IMPORTANT;
    background-image: linear-gradient(to bottom, #ff9900, #a9111f) !IMPORTANT;
	background-repeat: repeat-x;
}
  
.ttalert {
	color: #fff;
	background-image: -webkit-linear-gradient(top, #ac3c47, #fcbc32) !IMPORTANT;
	background-image: linear-gradient(to bottom, #ac3c47, #fcbc32) !IMPORTANT;
	background-repeat: repeat-x;
}

  #country-list{list-style:none;width:190px;}
  #country-list li{padding: 10px; background: #f0f0f0; border-bottom: #000 1px solid;}
  #country-list li:hover{background:#ece3d2;cursor: pointer;}
  #search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}

/* Styles ShoutBox */
.shoutbox_contain {
	border: 0;
	height: 250px;
	width: 100%;
	overflow: auto;
}

.shoutbox_msgbox {
	width: 100%;
	font-size: 16px;
	background-color: #FFF;
	border: 1px solid #777;
}

/* -- Bootstrap Table --*/
.table thead th {
        color: #fff;
		background-color: #ff9900;
		background-image: -webkit-linear-gradient(top, #a9111f, #ff9900);
		background-image: linear-gradient(to bottom, #a9111f, #ff9900);
		background-repeat: repeat-x;
}

a {
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}